<div class="container">
    <div class="row div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row g-3">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">name</label>
                <input name="name" [(ngModel)]="name" type="text" class="form-control">
            </div>
           
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">Address</label>
                <textarea name="address" [(ngModel)]="address" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
          
           
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">Email id</label>
                <input name="email" [(ngModel)]="email" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">phone Number</label>
                <input name="phno" [(ngModel)]="phno" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">User name</label>
                <input name="uname" [(ngModel)]="uname" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">Password</label>
                <input name="password" [(ngModel)]="password" type="password" name="" id="" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">Confirm Password</label>
                <input name="cpassword" [(ngModel)]="cpassword" type="password" name="" id="" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <button (click)="readvalues()" class="btn btn-success">Register</button>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12">
                <a class="btn btn-success" href="ulogin" >click here to Login</a>
            </div>
        </div>
    </div>
</div>
