<div class="container bg-image" style="background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/la-trobe-reading-room-of-state-library-of-victoria-royalty-free-image-1654023827.jpg');height: 400vh;width: 400vh;">
    <h1>Administartion login</h1>
    <div class="row g-3">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12">
            <label for="" class="form-label text">name</label>
            <input name="admin" [(ngModel)]="admin" type="text" class="form-control">
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12">
            <label for="" class="form-label">Password</label>
            <input [name]="password" [(ngModel)]="password" type="password" name="" id="" class="form-control">
        </div>
       
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12">
            <button (click)="login()"  class="btn btn-success">Login</button>
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12">
            <a  href="ulogin" >click here to User Login</a>
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12">
            <a  href="ureg" >click here to user registartion</a>
        </div>
    </div>
</div>

